.main{
    /* height: 70vh; */
    /* width: 50vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.carousel {
    width: 25%;
    /* border: 3px solid green; */
}

/* img{

} */

.first{
    margin-top: 3%;
    left: -30%;
    
}

.second{
    right: -30%;
}

.third{
    left: -30%;
}

.fourth{
    right: -30%;
}

.fifth{
    margin-bottom: 3%;
    left: -30%;
}

.button{
    background: transparent;
    border-radius: 10px;
    margin: 1%;
    /* transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
background: linear-gradient(to right, rgb(219, 213, 32) 0%, rgb(219, 213, 32) 50%, rgb(219, 213, 32) 100%); */
    /* background-color: #FBC403; */
    background-color: #301B3F;
    text-decoration: none;
/* color: #6575a2; */
}

.button a {
    /* color: #034efd; */
    text-decoration: none;
    font-size:large;
    font-weight: bold;
}

#name{
    /* color: #0E2954;   */
    /* color: #7D0633;   */
    background-color: #301B3F;
    border-radius: 10px;
    /* font-size:xx-large; */
    /* font-weight: bolder; */
}






