<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="name">
            <h5 id="h2">Hey there! I Am</h5>
        <h1 id="h1">Abhishek Kumar,</h1>
        <h1> a Full Stack Developer</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nulla magni molestiae exercitationem inventore consequatur omnis quae</p>
           
        <div class="resume">
           <!-- Download Resume -->
           <a href="../../../../assets/ABHISHEK KUMAR.pdf"
           download="ABHISHEK KUMAR.pdf">
           <button id="button">
             <i class="fa-solid fa-file"></i>
             Download Resume
           </button>
         </a>
        </div>
        
        </div>

        <div class="img">
            <img src="https://d38b044pevnwc9.cloudfront.net/cutout-nuxt/enhancer/2.jpg" alt="Loading...">
        </div>
    </div>

</body>
</html>
