<div class="cont">
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

           <!-- Linkedin -->
           <a
           mdbRipple
           class="btn btn-primary btn-floating m-1"
           style="background-color: #0082ca;"
           href="https://www.linkedin.com/in/abhishekkumar007/"
           target="_blank"
           role="button"
           ><i class="fab fa-linkedin-in"></i
         ></a>
         <!-- Github -->
         <a
           mdbRipple
           class="btn btn-primary btn-floating m-1"
           style="background-color: #333333;"
           href="https://github.com/abhikunu007"
           target="_blank"
           role="button"
           ><i class="fab fa-github"></i
         ></a>
         
          <!-- Google -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #dd4b39;"
            href="mailto: abhishekkumaras007@gmail.com"
            target="_blank"
            role="button"
            ><i class="fab fa-google"></i
          ></a>

          <!-- Leetcode -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #1d1c1d;"
            href="https://leetcode.com/abhikunu007/"
            target="_blank"
            role="button"
            ><i class="fa fa-code"></i>
          </a>
    
          <!-- Instagram -->
          <a
            mdbRipple
            class="btn btn-primary btn-floating m-1"
            style="background-color: #ac2bac;"
            href="https://www.instagram.com/srivastava_abhi_007/"
            target="_blank"
            role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
         
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3 copyRight">
        © 2023 Copyright: 
        <a class="text-white copy" href="https://www.linkedin.com/in/abhishekkumar007/" target="_blank">Abhishek Kumar</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>