
.navbar-nav{
    padding-left: 40%;
}

.navbar-brand{
    color: antiquewhite;
}

.navbar-dark .navbar-nav .nav-link{
    color: antiquewhite;
    
}

.navbar-dark .navbar-nav .nav-link:focus{
    color: goldenrod;
    
}
