<div class="main">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">Web Development</h3>
          <p class="card-text">Frontend Development: Creating user interfaces using HTML, CSS,JavaScript,React and Angular.
            Backend Development: Building server-side logic, databases, and APIs using technologies like Node.js and SpringBoot.
            Full-Stack Development: Proficiency in both frontend and backend development.</p>
          <!-- <a href="#" class="card-link">Card link</a> -->
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">UI/UX Design</h3>
          <p class="card-text">Designing user interfaces and user experiences to improve the usability and visual appeal of applications.Designing intuitive and user-friendly interfaces that require minimal learning.Incorporating animations and transitions to provide a smooth and engaging user experience.Designing visually appealing interfaces .</p>
          <!-- <a href="#" class="card-link">Card link</a> -->
        </div>
      </div>

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">API Development and Integration</h3>
          <p class="card-text">Creating APIs for third-party integrations or using existing APIs to enhance functionality.Designing and developing RESTful APIs.Creating API documentation that explains endpoints, request/response formats, and authentication methods for easy integration by other developers.</p>
          <!-- <a href="#" class="card-link">Card link</a> -->
        </div>
      </div>
</div>